:root {
  --font-primary: "Barlow", serif;
  --color-primary: #00BFFF;
  --color-secondary:#0000CD;
  --color-tertiary: #ffffff;
  --color-quaternary: #808080;
  --shadow-primary:0px 0px 10px rgba(0, 0, 0, 0.5);
  --padding-small:.8rem;
  --padding-medium:1.5rem;
  --padding-large:2rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;
}

fieldset{
  border: 1px solid #0000005e;
}

