.containerHeader{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  min-width: 100%;
  background-color: var(--color-secondary);
  padding: 1rem;
  box-shadow: var(--shadow-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.containerHeader img {
  width: 80px;
  margin-left: 2rem;
}
